<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Muhammad Yashlan Iskandar on 6/25/22, 4:19 PM
  ~ Last modified 6/25/22, 3:54 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yashlan.androidexpertsub1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExpertSub1">
        <activity
            android:name=".MainBottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>